@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,700&display=swap');

:root {
    --accent: #EA5959;
    --defaut: rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--accent);
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 32px;
    font-size: 18px;
    font-weight: 300;
}

.todo {
    padding: 32px;
    background-color: white;
    width: 90vw;
    border-radius: 16px;
}

.todo_new input {
    margin-right: 16px;
    font-size: 18px;
    font-weight: 300;
    padding: 8px 16px;
    height: var(--size);
    border: 1px solid var(--defaut);
    border-radius: 5px;
    flex-grow: 1;
}

.todo_new {
    --size: 50px;
    size: 50px;
    display: flex;
    margin: 16px 0 12px;

}

.todo_add, .todo_task_del {
    cursor: pointer;
    text-align: center;
    width: var(--size);
    height: var(--size);
    border: 1px solid var(--defaut);
    border-radius: var(--size);
    line-height: calc(var(--size) * 0.95);
    font-size: 32px;
    font-weight: 200;
    background-color: var(--accent);
    color: white;


}

.todo_list > *:not(last-child) {
    margin-bottom: 8px;


}
.todo_task {
    cursor: default;
    display: flex;
    --size: 36px;
    align-items: center;
    min-height: var(--size);



}
todo_task_complete .todo_task_text{
    text-decoration: line-through;
    color: var(--defaut);
}
.todo_task:hover .todo_task_del {
    display: block;
}
.todo_checkbox {
    margin-right: 16px;
}
.todo_checkbox input {
    display: none;
}
.todo_checkbox input:checked + div{
    background-color: var(--accent);

}
.todo_checkbox input:checked+div::after{
    display: block;

}
.todo_checkbox div {
    --size: 28px;
    cursor: pointer;
    height: var(--size);
    width: var(--size);
    border: 1px solid var(--accent);
    border-radius: 4px;
    position: relative;
    color: white;
}
.todo_checkbox div::after{
    content:'\2713';
    text-align: center;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.todo_task_text {
    font-size: 20px;


}
.todo_task_del {
    display: none;
    margin-left: auto;
    margin-right: 0;
    line-height: calc(var(--size) * 0.80);
    font-size: 44px;
}
